// normal font definitions
@mixin serif {
  font-family: serif;
  font-weight: 400;
}

@mixin sans_serif {
  font-family: sans-serif;
  font-weight: 400;
}

@mixin sans_serif_bold {
  font-family: sans-serif;
  font-weight: 700;
}
 
@mixin handwriting {
  font-family: cursive;
  font-weight: normal;
  font-style: normal;
}





