// sticky the footer at the bottom if content not long enough
html, body {
  height: 100%;
}

// utility theme classes
.table {
  display: table;
  .cell {
    display: table-cell;
  }
}

.center {
  text-align: center;
}

// remove ul stuff on special uls
div:not(.content) > ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}



// screen reader text
.screen-reader-text {
  position: absolute;
  top: -9999px;
  left: -9999px;
  font-size: 1px;
}


// cta buttons
a.cta {

}
