// lib imports at the top
@import "../lib/fontawesome/css/font-awesome.css";
// get normal
@import "normalize";

// definitions
@import "fonts";
@import "colors";
@import "mixins";

// global typography
@import "typography";

// define the overall styles for templates
@import "theme";

// misc
//@import "modal";

// media queries for breakpoints
@import "mobile";





